
body{
    background-image: url('image/FreeVector-Lined.jpg');
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 300px;
    height: 300px;
    border: 4px solid white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 10px 2px 10px black;
}
#count {
    color: white;
    font-size: 25px;
   
}
#counter {
    color: black;
    font-size: 100px;
    margin: 30px 10px;
    font-weight: bold;
}
.btn {
    background-color: #104e8b;
    color: white;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 20px;

}
.btn:hover{
    background-color: #4f94cd;
}
.btn:active {
    background-color: #00bfff;
}